.table th.centered,
.table td.centered {
    text-align: center;
    vertical-align: middle;
}
.table.centered th,
.table.centered td {
    text-align: center;
    vertical-align: middle;
}

.table.centered th.left-aligned,
.table.centered td.left-aligned {
    text-align: left;
}

.modal.top.fade.in,
.modal.top {
    top: 0;
    bottom: 0;
    margin-top: 0;
}
.modal.full-height.fade.in,
.modal.full-height {
    position: absolute;
    top: 0;
    bottom: 0;
}
.modal.big {
    width: 960px;
    margin-left: -480px;
}
.modal.huge {
    left: 5%;
    width: 90%;
    margin-left: 0;
}
.modal.long .modal-body{
    max-height: 100%;
    overflow-y: auto;
}
.modal.full-height .modal-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.modal.full-height .modal-body {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 60px;
    padding-top: 0;
    padding-bottom: 0;
    overflow-y: auto;
    max-height: none;
}
.modal.full-height .modal-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}